{% extends "base.html" %}

{% block content %}
  <h1>Car detail</h1>

  <p><strong>ID:</strong> {{ car.id }}</p>
  <p><strong>Model:</strong> {{ car.model }}</p>

  <h2>Manufacturer</h2>

  <p><strong>Name:</strong> {{ car.manufacturer.name }}</p>
  <p><strong>Country:</strong> {{ car.manufacturer.country }}</p>

  <h2>Drivers</h2>

  {% if car.drivers.all %}
    <table>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>License number</th>
      </tr>

      {% for driver in car.drivers.all %}
        <tr>
          <td>{{ driver.id }}</td>
          <td>
            <a href="{% url 'taxi:driver-detail' pk=driver.id %}">
              {{ driver.username }}
            </a>
          </td>
          <td>{{ driver.license_number }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>This car has no drivers.</p>
  {% endif %}
{% endblock %}
